@import url('https://surgedevs.github.io/visual-refresh-compact-title-bar/browser.css');
:root {
    /* controls the vertical position of the window buttons */
    --vr-header-snippet-top: 0px !important;
    /* controls the space above the server list */
    --vr-header-snippet-server-padding: 16px !important;
    /* controls the space the window buttons get on the channel header, experiment around with this if you get gaps or the buttons overlap! */
    --vr-header-snippet-space: 200px !important;
    /* controls the space to the right of the window buttons, good if you are using themes like midnight which add padding to the bar */
    --vr-header-snippet-button-padding: 0 !important;
}

@import url("https://raw.githubusercontent.com/NSPC911/themes/refs/heads/main/vencord/RefreshedSeamlessChatBar.theme.css");
:root {
  /* Custom padding for the chat box */
  --rscb-chat-box-padding: 8px;
  /* Whether you want the chat to not move up *\
  \*    and down when someone starts typing   */
  --rscb-no-jump-chat: 0;
  /* Whether you want the messages to clip through *\
  \*  the gap between slowmode and typing people   */
  --rscb-clip-chat-through-typing-bar: 0;
}

@import url("https://raw.githubusercontent.com/AushevAhmad/awesome-css/refs/heads/main/modules/custom-bar-prompt.css");
:root {
    --prompt-text: "be gay do crime~"; /* replace --prompt-text with your desired text if you want */
}

@import url("https://raw.githubusercontent.com/AushevAhmad/awesome-css/refs/heads/main/modules/bartender.css");
:root {
    --bartender-width: 4ch;  /* Width for displayed icon. Adjust depending on your needs [Default: 4ch] */
}
    
/* Transgender Boost Gradient; Recolors the boosting gradient to be the best flag ever */
div[class^=sidebar] div[class^=container] div[class^=progressBar] {
background: linear-gradient(to right,#60d0fa, #f5acba, #ffffff, #f5acba, #60d0fa) !important;
}
    
/* reduce context menu padding */
.layer_da8173 > .menu_c1e9c4 > .scroller_c1e9c4 {
    margin: -4px;
    .separator_c1e9c4 {
        margin: 1px 8px !important;
    }
    .wrapper_f563df {
        padding: 2px !important;
    }
    .item_c1e9c4{
        /* min-height is 32px as default, change value for desired look */
        min-height: 32;
        /* padding is 4px 8px as default, change value for desired look */
        padding: 4px 8px;
    }
}

/* fix the ... is typing thing */
.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 12px;
    &::after {
      color: var(--text-secondary);
      font-weight: 500;
    }
    &:last-child::after {
      content: " is meowing...";
    }
    &:last-child:not(:first-child)::after {
      content: " are meowing...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are meowing...";
  }
}

/* Status based Activity Icon */
[class^=memberInner]:has(> div > [aria-label*="Online"]) [class^=subText] svg > path[fill="#23a55a"] { fill: #43b581 }
[class^=memberInner]:has(> div >[aria-label*=Idle]) [class^=subText] svg > path[fill="#23a55a"] { fill: #f0b232 }
[class^=memberInner]:has(> div > [aria-label*="Do Not Disturb"]) [class^=subText] svg > path[fill="#23a55a"] { fill: #f23f43 }
[class^=memberInner]:has(> div > [aria-label*=Streaming]) [class^=subText] svg > path[fill="#23a55a"] { fill: #643da7 }
[class^=memberInner] [class^=subText] svg > path[fill="#23a55a"] { fill: #747f8d } 

/* discoveryyy */
[data-list-id="guildsnav"] [class^="footer"]:has(>[class^="gradient"]) {
  display: none;
}

/* activity shelf thingy */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}

/* bot tag */
.botTagRegular_fc4b4a[data-tag="app"] .botText_daff56 {    
  visibility: hidden;
}
.botTagRegular_fc4b4a[data-tag="app"] .botText_daff56::before { 
  content: 'BOT';
  visibility: visible;
  position: absolute;
}
.container__827e6 video.ready__61f2f {
    display: none;
}
.content_de05de::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}

/* profile badges */
[class^="profileBadges"] {
    flex: none;
}
[class*=userPopoutOverlayBackground] {
  max-height: 90px;
}
[class^=userPopoutInner_] [class^=blockquoteContainer_] {
  max-height: 90px;
}

/* Unclamp bio length in user popout */
[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
    &+[class^="viewFullBio_"] {
        display: none;
    }
}
/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset!important;
}

/* fuck you discord upsell and play again */
ul[aria-label="Direct Messages"] {
    &>li:has(div>a[href="/store"]) {
        display: none;
    }
    &>li:has(div>a[href="/shop"]) {
        display: none;
    }
}
.container__675e5 {
    display: none
}
.sectionDivider__35e86 {
    margin: var(--space-8) var(--space-8) !important
}

/* app launcher go bye bye */
[class*=channelAppLauncher_] {
  display: none;
}

/* visual refresh member list fix */
.visual-refresh .membersGroup_c8ffbb {
  padding: var(--space-xxs) var(--space-xxs) var(--space-xxs) var(--space-md);
}
.headerContainer__095fe, .hiddenVisually__27f77 {
  display: none;
  height: 0px !important;
}

/* colored role pills */
.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}
.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}
.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 !important;
}
.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}
.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}
/* detailed timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}
span[class*="timestampInline_"] {
  font-size: 0px !important;
}
