@import url("https://aushevahmad.github.io/awesome-css/modules/custom-bar-prompt.css");
:root {
    --prompt-text: "be gay do crime uwu :3"; /* replace --prompt-text with your desired text if you want */
}
@import url("https://aushevahmad.github.io/awesome-css/modules/bartender.css");
:root {
    --bartender-width: 4ch;  /* Width for displayed icon. Adjust depending on your needs [Default: 4ch] */
}
@import url(https://overimagine1.github.io/old-discord-font/source.css);
/* Transgender Boost Gradient; Recolors the boosting gradient to be the best flag ever */
div[class^=sidebar] div[class^=container] div[class^=progressBar] {
background: linear-gradient(to right,#60d0fa, #f5acba, #ffffff, #f5acba, #60d0fa) !important;
}

/* get rid of the inbox */
.recentsIcon_c99c29 {display: none;
                    } !important

/* Status based Activity Icon */
[class^=memberInner]:has(> div > [aria-label*="Online"]) [class^=subText] svg > path[fill="#23a55a"] { fill: #43b581 }

[class^=memberInner]:has(> div >[aria-label*=Idle]) [class^=subText] svg > path[fill="#23a55a"] { fill: #f0b232 }

[class^=memberInner]:has(> div > [aria-label*="Do Not Disturb"]) [class^=subText] svg > path[fill="#23a55a"] { fill: #f23f43 }

[class^=memberInner]:has(> div > [aria-label*=Streaming]) [class^=subText] svg > path[fill="#23a55a"] { fill: #643da7 }

[class^=memberInner] [class^=subText] svg > path[fill="#23a55a"] { fill: #747f8d } 

/* discoveryyy */
[data-list-id="guildsnav"] [class^="footer"]:has(>[class^="gradient"]) {
  display: none;
}

/* activity shelf thingy */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}

/* bot tag */
.botTagRegular_fc4b4a[data-tag="app"] .botText_daff56 {    
  visibility: hidden;
}
.botTagRegular_fc4b4a[data-tag="app"] .botText_daff56::before { 
  content: 'BOT';
  visibility: visible;
  position: absolute;
}
.container__827e6 video.ready__61f2f {
    display: none;
}
.content_de05de::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}

/* profile badges */
[class^="profileBadges"] {
    flex: none;
}
[class*=userPopoutOverlayBackground] {
  max-height: 90px;
}
[class^=userPopoutInner_] [class^=blockquoteContainer_] {
  max-height: 90px;
}

/* Unclamp bio length in user popout */
[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
    &+[class^="viewFullBio_"] {
        display: none;
    }
}
/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset!important;
}

/* fuck you discord upsell and play again */
ul[aria-label="Direct Messages"] {
    &>li:has(div>a[href="/store"]) {
        display: none;
    }

    &>li:has(div>a[href="/shop"]) {
        display: none;
    }
}
.container__675e5 {
    display: none
}
.sectionDivider__35e86 {
    margin: var(--space-8) var(--space-8) !important
}

/* preference, match spotify controls to panel tint */
.theme-dark #vc-spotify-player {
 background: unset; 
}

/* app launcher go bye bye */
[class*=channelAppLauncher_] {
  display: none;
}

/* fix visual refresh chat input bar */
.visual-refresh {
    --custom-channel-textarea-text-area-height: 56px;
    .form_f75fb0 {
        display: flex;
        flex-direction: column;
        padding: 0 8px 8px 8px;
    }
    .channelTextArea_f75fb0 {
        margin-bottom: 0;
    }
    .base_b88801 {
        position: static;
        order: -1;
        padding: 0 8px;
        background-color: var(--chat-background-default);
        transition: border-color .2s ease;
        border: 1px solid var(--border-faint);
        border-bottom: none;
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    }
    .stackedBars__74017 {
        transition: border-color .2s ease;
        border-color: var(--border-faint) !important;
    }
    .form_f75fb0:has(.base_b88801) {
        .channelTextArea_f75fb0 {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }
        .stackedBars__74017 {
            border-radius: 0;
        }
    }
    .form_f75fb0:has(.channelTextArea__74017:focus-within) {
        .base_b88801 {
            border-color: var(--border-subtle);
        }
        .stackedBars__74017 {
            border-color: var(--border-subtle) !important;
        }
    }
}

/* visual refresh member list fix */
.visual-refresh .membersGroup_c8ffbb {
  padding: var(--space-xxs) var(--space-xxs) var(--space-xxs) var(--space-md);
}
.headerContainer__095fe, .hiddenVisually__27f77 {
  display: none;
  height: 0px !important;
}

/* revert visual refresh server sidebar */
:root {
    --guildbar-avatar-size: 48px !important;
}

.visual-refresh nav[class*="guilds_"] {
    /* Uncomment if you changed up your nameplace */
    /* margin: 0;
    [class*="sidebar_"]:has(&)::after {
        height: 0;
    } */
    

    [class*="listItem__"] {
        defs > path {
            d: path("M 0 0 H 200 V 200 H 0 Z");
        }

        [class*="childWrapper__"],
        [class*="childWrapper__"] img,
        [class*="icon_"],
        [class*="circleIconButton__"] {
            border-radius: 100% !important;
            transition: border-radius 150ms;
        }

        [class*="selected__"] {
            [class*="childWrapper__"],
            [class*="childWrapper__"] img,
            [class*="icon_"],
            [class*="circleIconButton__"] {
                border-radius: 20px !important;
            }
        }
        svg {
            top: 0px;
            left: 0px;

            foreignObject {
                width: var(--guildbar-avatar-size);
                height: var(--guildbar-avatar-size);
                transform: translate(-4px, -4px);
            }
            &:not([class*="folderIcon__"]) > mask {
                use[href$="-lower_badge_masks"] {
                    transform: translate(8px, 8px);
                }
                use[href$="-upper_badge_masks"] {
                    transform: translate(8px, 0px);
                }
            }
        }
        [class*=expandedFolderIconWrapper__] svg {
            width: 24px;
            height: 24px;
        }
    }
    [class*="stack_"] {
        & > div:not([class]):has([class*="listItem__"]) {
            height: 45px !important;
        }
        [class*="isExpanded__"] & {
            height: auto !important;
        }
    }
}
/* colored role pills */
.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}

.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}

.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 !important;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}

.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}

/* detailed timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}
