:root {
  /* Custom padding for the chat box */
  --rscb-chat-box-padding: 8px;
  /* Whether you want the chat to not move up *\
  \*    and down when someone starts typing   */
  --rscb-no-jump-chat: 0;
  /* Whether you want the messages to clip through *\
  \*  the gap between slowmode and typing people   */
  --rscb-clip-chat-through-typing-bar: 0;
}

.visual-refresh .form_f75fb0 {
  display: flex;
  flex-direction: column;
  padding: 4px var(--rscb-chat-box-padding) var(--rscb-chat-box-padding)
    var(--rscb-chat-box-padding) !important;
  /* Normal chatbar */
  .channelTextArea_f75fb0 {
    margin-bottom: 0px;
    margin-right: 1px;
    /* reply bar */
    .stackedBars__74017 {
      border-bottom-color: transparent !important;
      background-color: var(--chat-background-default);
    }
  }
  /* slowmode bar + typing indicator */
  .base_b88801 {
    border-color: transparent !important;
    position: static;
    order: -1;
    background: transparent !important;
    background-image: transparent !important;
    border: 1px solid var(--border-faint);
    border-bottom: none;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    .typing_b88801 {
      border-color: transparent !important;
    }
    .typingDots_b88801,
    .cooldownText_b21699 {
      background-color: var(--chat-background-default);
      height: 24px;
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 8px 8px 0 0;
      border: 1px solid var(--border-faint) !important;
      border-bottom-color: transparent !important;
      /* because they dont have the same position */
      &.typingDots_b88801 {
        transform: translateX(-1px);
        &:not(:has(span > strong)) {
          display: none !important;
        }
      }
      &.cooldownText_b21699 {
        transform: translateY(1px);
      }
    }
  }
  .threadSuggestionBar__841c8 {
    /* fix a certain pixel issue that bugged me to oblivion */
    border-top: unset !important;
  }
  .channelAttachmentArea_b77158 {
    background-color: var(--chat-background-default);
  }
  /* the stars of the show, the :has */
  /* check for typing thing */
  &:has(> .typing_b88801 > .typingDots_b88801 > span > strong)
    .channelTextArea_f75fb0 {
    border-top-left-radius: 0 !important;
  }
  /* check for cooldown thing */
  &:has(> .typing_b88801 > .cooldownWrapper_b21699) .channelTextArea_f75fb0 {
    border-top-right-radius: 0 !important;
  }
}

.messagesWrapper__36d07:not(
    :has(+ .formWithLoadedChatInput_f75fb0 > .typing_b88801)
  )
  .scrollerContent__36d07 {
  padding-bottom: calc(var(--rscb-no-jump-chat) * 25px);
}
.scrollerInner__36d07 {
  padding-bottom: calc(var(--rscb-clip-chat-through-typing-bar) * 25px);
}
.scroller__36d07 {
  margin-bottom: calc(var(--rscb-clip-chat-through-typing-bar) * (0px - 25px));
}


/* custom chat bar input text  */
/* hide existing text */
.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017 {
    visibility: hidden;
}
/* add custom text */
.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017::before {
    visibility: visible;
    content: "be gay do crime~"; /* replace var() with your desired text (in quotes) */
}

/* Simple drawer for discord's toolbar, hover over the menu to open. */
/* add a menu icon to be visble at all times */
[class="toolbar__9293f"]::before {
  content: "∙∙∙"; /* Change this to anything you like [Default: ∙∙∙] */
  font-size: 110%;
  margin: 0 8px;
  color: var(--text-muted);
}
/* decrease width to hide everything but menu icon */
[class="toolbar__9293f"] {
  width: 4ch; /* Adjust this based on design requirements */
}
[class="toolbar__9293f"]:hover, /* expand toobar on hover */
[class="toolbar__9293f"]:has(.open__97492, .selected__9293f:not([aria-label="Hide Member List"])) /* keep the toolbar open if an item (e.g., search) is active */
{
  width: unset; /* Adjust the width to show the whole section if necessary [default: 21%] */
  /* If you pick a new marker, instead of "∙∙∙", you may need to adjust this value as well */
}

/* visual refresh top bar removal */
.visual-refresh {
  --vr-header-snippet-top: 0px;
  --vr-header-snippet-server-padding: 16px;
  --vr-header-snippet-space: 200px;
  --vr-header-snippet-button-padding: 10px;

  div.chat_f75fb0:not(.threadSidebarOpen_f75fb0),
  main.container__133bf,
  div.chatLayerWrapper__01ae2 {
    & section.container__9293f {
      padding-right: var(--vr-header-snippet-space);
    }
  }

  div.headerBar__8a7fc.overlay__8a7fc {
    padding-right: var(--vr-header-snippet-space);
  }

  div.videoControls_bfe55a div.subtitleContainer__49508 {
    padding-right: calc(var(--vr-header-snippet-space) - 20px);
  }

  div.base_c48ade {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

    & > div.bar_c38106 {
      position: absolute;
      position-anchor: --vr-header-snippet;
      top: var(--vr-header-snippet-top);
      right: anchor(right);
      width: anchor-size(width);
      padding: 0 var(--vr-header-snippet-button-padding) 0 0;

      & > .title_c38106 {
        display: none;
      }
    }

    &:has(> .notice__6e2b9) {
      & > div.bar_c38106 {
        top: anchor(top);
      }
    }

    & div.trailing_c38106 {
      background: none;
      border: none;
      height: var(--custom-channel-header-height);
    }

    & > div.content_c48ade {
      z-index: 0;
    }

    &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0) > .bar_c38106 {
      z-index: 0;
    }
  }

  :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade > div.bar_c38106 {
    right: 0 !important;
  }

  ul[data-list-id="guildsnav"] > div.itemsContainer_ef3116 > div.stack_dbd263 {
    margin-top: var(--vr-header-snippet-server-padding);
  }
}

    
/* Transgender Boost Gradient; Recolors the boosting gradient to be the best flag ever */
div[class^=sidebar] div[class^=container] div[class^=progressBar] {
background: linear-gradient(to right,#60d0fa, #f5acba, #ffffff, #f5acba, #60d0fa) !important;
}
    
/* reduce context menu padding */
.layer_da8173 > .menu_c1e9c4 > .scroller_c1e9c4 {
    margin: -4px;
    .separator_c1e9c4 {
        margin: 1px 8px !important;
    }
    .wrapper_f563df {
        padding: 2px !important;
    }
    .item_c1e9c4{
        /* min-height is 32px as default, change value for desired look */
        min-height: 32;
        /* padding is 4px 8px as default, change value for desired look */
        padding: 4px 8px;
    }
}

/* fix the ... is typing thing */
.typingDots_b88801 > .ellipsis_b88801+.text_b88801 {
  font-size: 0;
  height: 16px;
  >strong {
    font-size: 12px;
    &::after {
      color: var(--text-secondary);
      font-weight: 500;
    }
    &:last-child::after {
      content: " is meowing...";
    }
    &:last-child:not(:first-child)::after {
      content: " are meowing...";
    }
    &:nth-last-child(2)::after {
      content: " and "
    }
    &:nth-last-child(3)::after {
      content: ", ";
    }
  }
  &:not(:has(>strong))::after {
    font-size: 12px;
    content: "Several people are meowing...";
  }
}

/* Status based Activity Icon */
[class^=memberInner]:has(> div > [aria-label*="Online"]) [class^=subText] svg > path[fill="#23a55a"] { fill: #43b581 }
[class^=memberInner]:has(> div >[aria-label*=Idle]) [class^=subText] svg > path[fill="#23a55a"] { fill: #f0b232 }
[class^=memberInner]:has(> div > [aria-label*="Do Not Disturb"]) [class^=subText] svg > path[fill="#23a55a"] { fill: #f23f43 }
[class^=memberInner]:has(> div > [aria-label*=Streaming]) [class^=subText] svg > path[fill="#23a55a"] { fill: #643da7 }
[class^=memberInner] [class^=subText] svg > path[fill="#23a55a"] { fill: #747f8d } 

/* discoveryyy */
[data-list-id="guildsnav"] [class^="footer"]:has(>[class^="gradient"]) {
  display: none;
}

/* activity shelf thingy */
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {
  display: none;
}

/* bot tag */
.botTagRegular_fc4b4a[data-tag="app"] .botText_daff56 {    
  visibility: hidden;
}
.botTagRegular_fc4b4a[data-tag="app"] .botText_daff56::before { 
  content: 'BOT';
  visibility: visible;
  position: absolute;
}
.container__827e6 video.ready__61f2f {
    display: none;
}
.content_de05de::before {
    visibility: visible;
    content: '';
    display: block;
    background: url(https://media.discordapp.net/stickers/1217112512374505613.png?size=240);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 128px;
    height: 128px;
    margin: auto;
    margin-bottom: 48px;
}

/* profile badges */
[class^="profileBadges"] {
    flex: none;
}
[class*=userPopoutOverlayBackground] {
  max-height: 90px;
}
[class^=userPopoutInner_] [class^=blockquoteContainer_] {
  max-height: 90px;
}

/* Unclamp bio length in user popout */
[class^="userPopoutInner_"] [class^="descriptionClamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset;
    &+[class^="viewFullBio_"] {
        display: none;
    }
}
/* Unclamp status bubble size in user popout */
[class^="userPopoutInner_"] [class^="statusBubble_"] [class*="clamp_"] {
    -webkit-line-clamp: unset;
    max-height: unset!important;
}

/* fuck you discord upsell and play again */
ul[aria-label="Direct Messages"] {
    &>li:has(div>a[href="/store"]) {
        display: none;
    }
    &>li:has(div>a[href="/shop"]) {
        display: none;
    }
}
.container__675e5 {
    display: none
}
.sectionDivider__35e86 {
    margin: var(--space-8) var(--space-8) !important
}

/* app launcher go bye bye */
[class*=channelAppLauncher_] {
  display: none;
}

/* visual refresh member list fix */
.visual-refresh .membersGroup_c8ffbb {
  padding: var(--space-xxs) var(--space-xxs) var(--space-xxs) var(--space-md);
}
.headerContainer__095fe, .hiddenVisually__27f77 {
  display: none;
  height: 0px !important;
}

/* colored role pills */
.role_dfa8b6.pill_dfa8b6 {
    position: relative;
    background: none;
    border: none;
    padding-left: 28px;
}
.role_dfa8b6.pill_dfa8b6 > span {
    z-index: 1;
}
.role_dfa8b6.pill_dfa8b6 .roleRemoveButton_dfa8b6 {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 !important;
}
.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569 {
    margin: 6px 8px;
}
.role_dfa8b6.pill_dfa8b6 .roleCircle__4f569::before {
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: var(--radius-xs);
    filter: brightness(1.1);
    opacity: 0.25;
}
/* detailed timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}
span[class*="timestampInline_"] {
  font-size: 0px !important;
}
